# --- JetBrains / PyCharm ---
.idea/
*.iml
*.iws
*.ipr

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
dist/
.venv/
.env
.env.* 
.pytest_cache/
.mypy_cache/
.dmypy.json
.coverage
.coverage.*
htmlcov/

# --- OS cruft ---
.DS_Store
Thumbs.db
